<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home!</title>
</head>
<body>

CUSTOMERS PANEL<br>
<a th:href="@{/appointments/select_service}">New appointment</a><br>


    Hello! <div sec:authentication="name"></div>
Your roles:
<div sec:authentication="principal.authorities"></div>

<table>
    <thead>
    <tr>
        <th> Work </th>
        <th> Provider </th>
        <th> Start </th>
        <th> End </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${customer.appointmentsByCustomer == null}">
        <td colspan="2"> No Appointments Available </td>
    </tr>
    <tr th:each="appointment : ${customer.appointmentsByCustomer}">
        <td><span th:text="${appointment.work.name}"> Work </span></td>
        <td><span th:text="${appointment.provider.firstName}"> Provider </span></td>
        <td><span th:text="${appointment.start}"> Start </span></td>
        <td><span th:text="${appointment.end}"> End </span></td>
    </tr>
    </tbody>
</table>


<form th:action="@{/perform_logout}" method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>