<th:block th:fragment="navlinks(activeLink)">
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${activeLink} == 'home' ? 'active':''">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'appointments' ? 'active':''">
                <a class="nav-link" th:href="@{/appointments/all}">Appointments</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'works' ? 'active':''">
                <a class="nav-link" th:href="@{/works/all}">Works</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'providers' ? 'active':''">
                <a class="nav-link" th:href="@{/providers/all}">Providers</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'customers' ? 'active':''">
                <a class="nav-link" th:href="@{/customers/all}">Customers</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'invoices' ? 'active':''">
                <a class="nav-link" th:href="@{/invoices/all}">Invoices</a>
            </li>
        </ul>
    </div>
</th:block>