<!DOCTYPE html>
<html th:fragment="layout (content, activeLink, pageTitle)" xmlns:th="http://www.w3.org/1999/html">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title th:text="${pageTitle}">Page title</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
        <!-- Bootstrap core JavaScript -->
        <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <!-- Navigation -->
        <div sec:authorize="isAuthenticated()">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <th:block sec:authorize="hasRole('ROLE_CUSTOMER')">
                        <!-- menu for customer-->
                        <div th:replace="fragments/customer-nav.html :: navlinks(${activeLink})"></div>
                    </th:block>

                    <th:block sec:authorize="hasRole('ROLE_PROVIDER')">
                        <!-- menu for provider-->
                        <div th:replace="fragments/provider-nav.html :: navlinks(${activeLink})"></div>
                    </th:block>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li>
                                <p class="navbar-nav ml-auto navbar-text"> Loogged as: <span sec:authentication="name">username</span> | </p>
                            </li>
                            <li>
                                <form th:action="@{/perform_logout}" id="logout" method="POST">
                                    <a class="nav-link" href="#" onclick="document.getElementById('logout').submit(); return false;">Log out</a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Page Content -->
        <div class="container">
            <th:block th:include="${content}"/>
        </div>



    </body>

</html>
