<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'availability','Availability settings')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row" style="margin-top: 50px" ;>
    <div class="col-md-6 text-center">
        <h2>Working plan</h2>
        <table class="table table-striped text-center">
            <thead class="thead-dark">

            <tr>
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
                <th>Breaks</th>
            </tr>
            </thead>
            <form th:action="@{/providers/availability}" method="POST" th:object="${plan}">
                <input type="hidden" th:field="*{id}" th:value="${plan.id}">
                <input type="hidden" th:field="*{provider.id}" th:value="${plan.provider.id}">
                <tr>
                    <td>Monday</td>
                    <td><input type="time" th:field="*{monday.workingHours.start}"
                               th:value="${plan.monday.workingHours.start}"></td>
                    <td><input type="time" th:field="*{monday.workingHours.end}"
                               th:value="${plan.monday.workingHours.start}"></td>
                    <td><span th:text="${plan.monday.breaks.size()}">3</span></td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td><input type="time" th:field="*{tuesday.workingHours.start}"
                               th:value="${plan.tuesday.workingHours.start}"></td>
                    <td><input type="time" th:field="*{tuesday.workingHours.end}"
                               th:value="${plan.tuesday.workingHours.start}"></td>
                    <td><span th:text="${plan.tuesday.breaks.size()}">3</span></td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td><input type="time" th:field="*{wednesday.workingHours.start}"
                               th:value="${plan.wednesday.workingHours.start}"></td>
                    <td><input type="time" th:field="*{wednesday.workingHours.end}"
                               th:value="${plan.wednesday.workingHours.start}"></td>
                    <td><span th:text="${plan.wednesday.breaks.size()}">3</span></td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td><input type="time" th:field="*{thursday.workingHours.start}"
                               th:value="${plan.thursday.workingHours.start}"></td>
                    <td><input type="time" th:field="*{thursday.workingHours.end}"
                               th:value="${plan.thursday.workingHours.start}"></td>
                    <td><span th:text="${plan.thursday.breaks.size()}">3</span></td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td><input type="time" th:field="*{friday.workingHours.start}"
                               th:value="${plan.friday.workingHours.start}"></td>
                    <td><input type="time" th:field="*{friday.workingHours.end}"
                               th:value="${plan.friday.workingHours.start}"></td>
                    <td><span th:text="${plan.friday.breaks.size()}">3</span></td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td><input type="time" th:field="*{saturday.workingHours.start}"
                               th:value="${plan.saturday.workingHours.start}"></td>
                    <td><input type="time" th:field="*{saturday.workingHours.end}"
                               th:value="${plan.saturday.workingHours.start}"></td>
                    <td><span th:text="${plan.saturday.breaks.size()}">3</span></td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td><input type="time" th:field="*{sunday.workingHours.start}"
                               th:value="${plan.sunday.workingHours.start}"></td>
                    <td><input type="time" th:field="*{sunday.workingHours.end}"
                               th:value="${plan.sunday.workingHours.start}"></td>
                    <td><span th:text="${plan.sunday.breaks.size()}">3</span></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button type="submit" name="submit" value="value" class="btn btn-success">Save</button>
                    </td>
                </tr>


            </form>
        </table>

    </div>
    <div class="col-md-6 text-center">
        <h2>Breaks</h2>
        <table class="table table-striped text-center">
            <thead class="thead-dark">

            <tr>
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
                <th>Action</th>
            </tr>
            </thead>

            <tr th:each="break : ${plan.monday.breaks}">
                <td>Monday</td>
                <td><span th:text="${break.start}">06:00</span></td>
                <td><span th:text="${break.end}">18:00</span></td>
                <td>
                    <form class="d-inline-block" th:action="@{/providers/availability/breakes/delete}"
                          th:object="${breakModel}" method="POST">
                        <input type="hidden" name="planId" th:value="${plan.id}">
                        <input type="hidden" name="dayOfWeek" th:value="monday" />
                        <input type="hidden" th:name="start" th:id="start" th:value="${break.start}">
                        <input type="hidden" th:name="end" th:id="end" th:value="${break.end}">
                        <button type="submit" name="submit" value="value" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

            <tr th:each="break : ${plan.tuesday.breaks}">
                <td>Tuesday</td>
                <td><span th:text="${break.start}">06:00</span></td>
                <td><span th:text="${break.end}">18:00</span></td>
                <td>
                    <form class="d-inline-block" th:action="@{/providers/availability/breakes/delete}"
                          th:object="${breakModel}" method="POST">
                        <input type="hidden" name="planId" th:value="${plan.id}">
                        <input type="hidden" name="dayOfWeek" th:value="tuesday" />
                        <input type="hidden" th:name="start" th:id="start" th:value="${break.start}">
                        <input type="hidden" th:name="end" th:id="end" th:value="${break.end}">
                        <button type="submit" name="submit" value="value" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

            <tr th:each="break : ${plan.wednesday.breaks}">
                <td>Wednesday</td>
                <td><span th:text="${break.start}">06:00</span></td>
                <td><span th:text="${break.end}">18:00</span></td>
                <td>
                    <form class="d-inline-block" th:action="@{/providers/availability/breakes/delete}"
                          th:object="${breakModel}" method="POST">
                        <input type="hidden" name="planId" th:value="${plan.id}">
                        <input type="hidden" name="dayOfWeek" th:value="wednesday" />
                        <input type="hidden" th:name="start" th:id="start" th:value="${break.start}">
                        <input type="hidden" th:name="end" th:id="end" th:value="${break.end}">
                        <button type="submit" name="submit" value="value" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

            <tr th:each="break : ${plan.thursday.breaks}">
                <td>Thursday</td>
                <td><span th:text="${break.start}">06:00</span></td>
                <td><span th:text="${break.end}">18:00</span></td>
                <td>
                    <form class="d-inline-block" th:action="@{/providers/availability/breakes/delete}"
                          th:object="${breakModel}" method="POST">
                        <input type="hidden" name="planId" th:value="${plan.id}">
                        <input type="hidden" name="dayOfWeek" th:value="thursday" />
                        <input type="hidden" th:name="start" th:id="start" th:value="${break.start}">
                        <input type="hidden" th:name="end" th:id="end" th:value="${break.end}">
                        <button type="submit" name="submit" value="value" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

            <tr th:each="break : ${plan.friday.breaks}">
                <td>Friday</td>
                <td><span th:text="${break.start}">06:00</span></td>
                <td><span th:text="${break.end}">18:00</span></td>
                <td>
                    <form class="d-inline-block" th:action="@{/providers/availability/breakes/delete}"
                          th:object="${breakModel}" method="POST">
                        <input type="hidden" name="planId" th:value="${plan.id}">
                        <input type="hidden" name="dayOfWeek" th:value="friday" />
                        <input type="hidden" th:name="start" th:id="start" th:value="${break.start}">
                        <input type="hidden" th:name="end" th:id="end" th:value="${break.end}">
                        <button type="submit" name="submit" value="value" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

            <tr th:each="break : ${plan.saturday.breaks}">
                <td>Saturday</td>
                <td><span th:text="${break.start}">06:00</span></td>
                <td><span th:text="${break.end}">18:00</span></td>
                <td>
                    <form class="d-inline-block" th:action="@{/providers/availability/breakes/delete}"
                          th:object="${breakModel}" method="POST">
                        <input type="hidden" name="planId" th:value="${plan.id}">
                        <input type="hidden" name="dayOfWeek" th:value="saturday" />
                        <input type="hidden" th:name="start" th:id="start" th:value="${break.start}">
                        <input type="hidden" th:name="end" th:id="end" th:value="${break.end}">
                        <button type="submit" name="submit" value="value" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

            <tr th:each="break : ${plan.sunday.breaks}">
                <td>Sunday</td>
                <td><span th:text="${break.start}">06:00</span></td>
                <td><span th:text="${break.end}">18:00</span></td>
                <td>
                    <form class="d-inline-block" th:action="@{/providers/availability/breakes/delete}"
                          th:object="${breakModel}" method="POST">
                        <input type="hidden" name="planId" th:value="${plan.id}">
                        <input type="hidden" name="dayOfWeek" th:value="sunday" />
                        <input type="hidden" th:name="start" th:id="start" th:value="${break.start}">
                        <input type="hidden" th:name="end" th:id="end" th:value="${break.end}">
                        <button type="submit" name="submit" value="value" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
        <h2>Add Break</h2>
        <form class="d-inline-block" th:action="@{/providers/availability/breakes/add}" th:object="${breakModel}"
              method="POST">
            <input type="hidden" name="planId" th:value="${plan.id}">
            <select name="dayOfWeek">
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>
            </select>
            from <input type="time" th:name="start" th:id="start">
            to <input type="time" th:name="end" th:id="end"> <br>
            <div class="mt-3">
                <button type="submit" name="submit" value="value" class="btn btn-success">Add break</button>
            </div>

        </form>

    </div>

</div>
</body>

</html>