<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home!</title>
</head>
<body>

<div sec:authorize="hasRole('CUSTOMER')">
    My appointments
    New appointment


</div>
<div sec:authorize="hasRole('PROVIDER')">providers panel</div>
<div sec:authorize="isAuthenticated()">
    Hello!
</div>
Your username:
<div sec:authentication="name"></div>
Your roles:
<div sec:authentication="principal.authorities"></div>

<form th:action="@{perform_logout}" method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>