<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home','Home')}" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div id="calendar"></div>
<script type="text/javascript">
    $(document).ready(function(){
        var calendar = $('#calendar').calendar({
            events_source: [
                {
                    "id": 1,
                    "title": "Event 1",
                    "url": "http://example.com",
                    "class": "event-important",
                    "start": moment().valueOf(), // Now in milliseconds
                    "end": moment().add(2, 'days').valueOf() // Now + 2 days in milliseconds
                },
                {
                    "id": 2,
                    "title": "Event 2",
                    "url": "http://example.com",
                    "class": "event-default",
                    "start": moment().add(1, 'days').valueOf(), // Now + 1 day in milliseconds
                    "end": moment().add(3, 'days').valueOf() // Now + 3 days in milliseconds
                },
            ]
        });
    });

</script>
</body>

</html>
