<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'exchange','Appointments eligible to exchange')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row" style="margin-top: 50px">

    <div class="container">
        <div class="row justify-content-center">
            <div clas="col-md-1">
            </div>
            <div>
                <p th:text="${message}"></p>
            </div>
        </div>

    </div>


</body>

</html>