<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p th:if="${canceler =='customer'}">Hello, <span th:text="${appointment.provider.firstName}"></span></p>
<p th:if="${canceler =='provider'}">Hello, <span th:text="${appointment.customer.firstName}"></span></p>
<p>This appointemnt has been cancelled by <span th:text="${canceler}"></span></p>
<p>Start date: <span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p>Work: <span th:text="${appointment.work.name}"></span></p>
<p th:if="${canceler =='customer'}">Provider: <span th:text="${appointment.provider.firstName + ' ' + appointment.provider.lastName}"></span></p>
<p th:if="${canceler =='provider'}">Customer: <span th:text="${appointment.customer.firstName + ' ' + appointment.customer.lastName}"></span></p>
<p>Duration: <span th:text="${appointment.work.duration}"></span></p>
<p>Price: <span th:text="${appointment.work.price}"></span></p>
</body>

</html>