<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p>Hello, <span th:text="${appointment.customer.firstName}"></span></p>
<p>This is your finished appointment summary:</p>
<p>Date: <span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p>Provider: <span th:text="${appointment.provider.firstName}"></span></p>
<p>Work: <span th:text="${appointment.work.name}"></span></p>
<p>Duration: <span th:text="${appointment.work.duration}"></span></p>
<p>Price: <span th:text="${appointment.work.price}"></span></p>
<p>If by some reason this appointemt didn't take place, you have 24h to report this by clicking <a th:href="${url}">here</a></p>

</body>

</html>