<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p>Hello, <span th:text="${appointment.provider}"></span></p>
<p>You customer cancelled this appointment: </p>
<p>Customer: <span th:text="${appointment.customer.firstName + ' ' + appointment.customer.lastName}"></span></p>
<p>Start date: <span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p>Duration: <span th:text="${appointment.work.duration}"></span></p>
<p>Price: <span th:text="${appointment.work.price}"></span></p>
<p>Work: <span th:text="${appointment.work.name}"></span></p>

</body>
</html>