<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'appointments','Appointment deny')}" xmlns:sec="http://www.w3.org/1999/xhtml">

<body>

<!-- Page Content -->
<div class="row align-items-center justify-content-center"   style="margin-top: 50px">
    <div th:if="${result}">
        <p>Appointment has been successfully denied and will not be invoiced!</p>
        You can sign in <a th:href="@{/login}">here</a></p>
    </div>

    <div th:if="${result==false}">
        <p>Error occured!</p>
        <p>Make sure that no more than 24 hours elapsed since appointment ending.</p>
        <p>You can sign in <a th:href="@{/login}">here</a> </p>
    </div>

</div>

</body>

</html>