<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home','Home')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row mt-3">
    <div class="col-3">

    </div>
    <div class="col-6">
        <div id='calendar'></div>
    </div>
    <div class="col-3">

    </div>
</div>
</div>

<script th:inline="javascript">


    $(function () {
        $('#calendar').fullCalendar({
            defaultView: 'listDay',
            contentHeight: "auto",
            noEventsMessage: 'Unavailable',
            validRange: function (nowDate) {
                return {
                    start: nowDate.clone().add(1, 'days')
                };
            },
            header: {
                left: 'title',
                center: '',
                right: 'today prev,next'
            },
            allDaySlot: false,
            minTime: "06:00:00",
            maxTime: "21:00:00",
            firstDay: 2,
            timeFormat: 'H:mm', // uppercase H for 24-hour clock
            eventSources: [

                // your event source
                {
                    events: function (start, end, timezone, callback) {
                        var url = [[${ '/api/availableHours/'+providerId + '/' + workId + '/' }]] + start.format('YYYY-MM-DD').toString();
                        console.log(url);
                        $.ajax({
                            url: url,
                            data: {},
                            success: function (doc) {

                                var x = doc.map(function (entry) {
                                    var URL = [[${ '/appointments/new/'+providerId + '/' + workId + '/' }]] + entry.start;
                                    entry.url = URL;
                                    return entry;
                                });
                                callback(x);
                            }
                        });
                    },
                    color: 'white',   // an option!
                    textColor: 'black' // an option!
                }
            ]

        })

    });


</script>
</body>

</html>