<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'','Select date')}" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div class="row align-items-center justify-content-center"   style="margin-top: 50px">
    <p>Select date</p>
<span th:text="${appointmentForm.workId}"></span>
    <form th:action="@{/appointments/save}" th:object="${appointmentForm}" method='POST'>
        <input type="hidden" name="workId" th:value="${appointmentForm.workId}">
        <input type="hidden" name="providerId" th:value="${appointmentForm.providerId}">


        <label>Start date: </label><input type="datetime-local" th:field="*{start}"/>
        <label>End date: </label><input type="datetime-local" th:field="*{end}"/>
        <input type="submit" value="Submit"/>

    </form>

</div>

</body>
</html>