<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'','Select provider')}" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div class="row align-items-center justify-content-center"   style="margin-top: 50px">
    <p>Select provider</p>
<form  method='POST' th:object="${appointmentForm}" th:action="@{/appointments/select_date}">
    <input type="hidden" name="workId" th:value="${appointmentForm.workId}">

    Select provider:
    <select th:field="*{providerId}">
            <option th:each="provider : ${providers}"
                    th:value="${provider.id}"
                    th:utext="${provider.firstName}"/>
        </select>

    <input name="submit" type="submit" value="submit" />
</form>
</div>
</body>
</html>