<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'','Select service')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row align-items-center justify-content-center d-block" style="margin-top: 50px">
    <div class="row align-items-center justify-content-center" style="margin-top: 50px">
        <div>
            <table id="customers" class="table table-striped text-center">
                <thead class="thead-dark">
                <tr>
                    <th> Name</th>
                    <th> Duration</th>
                    <th> Price</th>
                    <th> Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${works == null}">
                    <td colspan="4"> No works available</td>
                </tr>
                <tr th:each="work : ${works}">
                    <td><span th:text="${work.name}"> work name </span></td>
                    <td><span th:text="${work.duration }"> 30 min </span></td>
                    <td><span th:text="${work.price}"> 3 </span></td>
                    <td><a class="btn btn-primary"
                           th:href="@{'/appointments/new/'+${providerId} +'/'+ ${work.id}}"
                           role="button">Select</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
</body>

</html>