<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'','Select provider')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row align-items-center justify-content-center" style="margin-top: 50px">


    <div class="col-md-3 m-3" th:each="provider : ${providers}">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title"><span th:text="${provider.firstName +' ' +provider.lastName}"> Name
                            Lastname</span></h5>
                <p sec:authorize="hasRole('ROLE_CUSTOMER_RETAIL')"
                   th:text="${'Available works: '+ provider.getRetailWorks().size()}">Available works: 3</p>
                <p sec:authorize="hasRole('ROLE_CUSTOMER_CORPORATE')"
                   th:text="${'Available works: '+ provider.getCorporateWorks().size()}">Available works: 3</p>
                <a th:href="@{'/appointments/new/'+${provider.id}}" class="btn btn-primary">Select</a>

            </div>
        </div>
    </div>

</div>
</body>

</html>